body {
    font-family: sans-serif;
    background: #1F1C21;
    overscroll-behavior: contain;
}

h2 {
    text-align: center;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.btn{
    width: 3rem;
    height: 3rem;
    display: block;
    z-index: 10;
    position: fixed;
    border: white 2px solid;
    border-radius: 20%;
}



#b1 { 
    background: black;
    left: 10px;
    top: 10px;
}

#b2 { 
    background: green;
    right: 10px;
    top: 10px;
}

#b3 {
    background: red;
    left: 10px;
    bottom: 10px;
}


#b4 {
    background: blue;
    right: 10px;
    bottom: 10px;
}


#console {
    position: absolute;
    z-index: 10;
    color: black;
}